<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Home</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid [fixed]="true">
		<ion-row>
			<ion-col>
				<img id="fox-image" src="assets/images/rock-climbing-fox.jpeg"><br/>
				<small>Credit: <a [href]="foxUrl">Bing AI</a></small>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<p>Climbing App is simply an app made by Kevin Mallinson in order to experiment with different
					technologies & stacks.</p>
				<p>The app is not meant to be useful in any way, but just be a way to play around with code.</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
